<p class="flow-text">
    <%= q.question %>
</p>

<div class="col s12">
    <div class="col s6 input-field">
        <textarea id="textarea2" class="materialize-textarea" disabled>
        <%= q.test_input%> </textarea>
        <label for="textarea2" class="active">Sample Input</label>
    </div>
    <div class="col s6 input-field">
        <textarea id="textarea3" class="materialize-textarea" disabled>
        <%= q.test_output%> </textarea>
        <label for="textarea3" class="active">Sample Output</label>
    </div>
</div>


<div class="input-field col s12">
        <label  class="active">Enter
                <%= q.lang %> code here
                <% if(q.lang == "java" ) { %> (WARNING : Save
                public class with name - )
                <%= username+"_"+q.id %>
                <% } %>
            </label>
        
        
</div>

<div class="input-field col s12">
       
        <textarea name="<%= q.id %>" id="code<%= q.id %>"></textarea>
        
</div>
<div class="divider"></div>
<script>
    var EditorMode<%= q.id %>='clike';
    if ("<%= q.lang %>" == 'python') {
        EditorMode<%= q.id %> = 'python';
    } else {
        EditorMode<%= q.id %> = 'clike';
    }
    var editor<%= q.id %> = CodeMirror.fromTextArea(document.getElementById('code<%= q.id %>'), {

        lineNumbers: true,
        mode: EditorMode<%= q.id %>,
        smartIndent: true,
        theme: "monokai"

    });
    editor<%= q.id %>.setSize("800", "350");
</script>