<p class="flow-text">
    <%= q.question %>
</p>

<% if ( q.code != undefined && q.code.length > 0 ) { %>
<pre>
<code>
<%= q.code %>
</code>
</pre>
<% } %>



<div class="col s12">
    <% for (var i=0 ; i<q.left.length ; i++ ) { %>
    <div class="col s5">
        <p class="flow-text center-align">
            <%= q.left[i] %>
        </p>
    </div>
    <div class="col s2">
        <input class="flow-text" type="number" min="1" max="4" name="<%= q.id %>">
    </div>
    <div class="col s5 ">
        <p class="flow-text center-align">
            <%= i+1 %>. &nbsp;
            <%= q.right[i] %>
        </p>
    </div>

    <% } %>

</div>
<div class="divider"></div>