<p class="flow-text question">
    <%= q.question %>
</p>

<% if ( q.img != undefined && q.img.length > 0 ) { %>
    <div class="col s12 center">
        <img src="images/<%= q.img %>" alt="No image found" id="quizImg">
    </div>
    <% } %>

<% if ( q.code != undefined && q.code.length > 0 ) { %>
<pre>
<code>
<%= q.code %>
</code>
</pre>
<% } %>


<% if ( q.left != undefined && q.left.length > 0 ) { %>
<div class="col s12">
    <% for (var i=0 ; i<q.left.length ; i++ ) { %>
            <div class="col s12">
    <div class="col s5">
        <p class="flow-text center-align">
            <%= q.left[i] %>
        </p>
    </div>
    <div class="col s2">
        <input class="flow-text" type="number" min="1" max="4" name="<%= q.id %>">
    </div>
    <div class="col s5 ">
        <p class="flow-text center-align">
            <%= i+1 %>. &nbsp;
            <%= q.right[i] %>
        </p>
    </div>
</div>
    <% } %>

</div>
<%}%>

<% if ( q.Studentanswer != undefined && q.Studentanswer.length > 0 ) { %>
    <div class="col s12">
        <p class="flow-text"> Your answer : <%=q.Studentanswer%></p>
    </div>
    <%}%>

    <% if ( q.solution != undefined && q.solution.length > 0 ) { %>
        <div class="col s12">
            <p class="flow-text"> Correct answer : <%=q.solution%></p>
        </div>
        <%}%>
<div class="divider"></div>