<p> <%= q.question_text %></p>
<fieldset id="<%= q.qid %>">
    <input type="radio" value='a' name="<%= q.id %>"> <%= q.option1 %>
    <input type="radio" value='b' name="<%= q.id %>"> <%= q.option2 %>
    <input type="radio" value='c' name="<%= q.id %>"> <%= q.option3 %>
    <input type="radio" value='d' name="<%= q.id %>"> <%= q.option4 %>
</fieldset>