<p> <%= q.question %></p>
<fieldset>
    <input type="radio" value="<%= q.options[0] %>" name="<%= q.id %>"> <%= q.options[0] %>
    <input type="radio" value="<%= q.options[1] %>" name="<%= q.id %>"> <%= q.options[1] %>
    <input type="radio" value="<%= q.options[2] %>" name="<%= q.id %>"> <%= q.options[2] %>
    <input type="radio" value="<%= q.options[3] %>" name="<%= q.id %>"> <%= q.options[3] %>
</fieldset>