<p class="flow-text">
    <%= q.question %>
</p>

<% if ( q.code != undefined && q.code.length > 0 ) { %>
<pre>
<code>
<%= q.code %>
</code>
</pre>
<% } %>

    <div class="col s12">
        <label>
            <input class="with-gap" name="<%= q.id %>" type="radio" value="<%= q.options[0] %>" />
            <span>
                <%= q.options[0] %></span>
        </label>
    </div>
    <div class="col s12">
        <label>
            <input class="with-gap" name="<%= q.id %>" type="radio" value="<%= q.options[1] %>" />
            <span>
                <%= q.options[1] %></span>
        </label>
    </div>
    <div class="col s12">
        <label>
            <input class="with-gap" name="<%= q.id %>" type="radio" value="<%= q.options[2] %>" />
            <span>
                <%= q.options[2] %></span>
        </label></div>
    <div class="col s12">
        <label>
            <input class="with-gap" name="<%= q.id %>" type="radio" value="<%= q.options[3] %>" />
            <span>
                <%= q.options[3] %></span>
        </label>
    </div>




<div class="divider"></div>