<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<html>

<head>
    <style>
        #link {
            color: white;
            font-weight: bold;
        }

        body {
            color: black;
        }
    </style>
    <title> QUIZ PAGE </title>
</head>

<body class="grey lighten-3">
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>
    <div class="container grey lighten-2 input">

        <div class="col s12 section input-field">

            <div class="col s6 btn waves-effect waves-light left grey darken-3 input-field">
                <a href="/admin_question_input" id="link"> Editor </a>
                <i class="fas fa-edit"></i>
            </div>

            <button id="downloadScores" class="btn right waves-effect waves-light input-field green darken-4 col s6" id="link"
                onclick="downloadScores()">
                Download Scores
                <i class="fas fa-file-download"></i>
            </button>


        </div>

        <div class="col s12 center">
            <h3> Details of students currently accessing test </h3>
        </div>

        <div class="col s12">
            <% if( studentDetails.size == 0 ) { %>
            <div class="col s12 center">
                <p>There are no students that completed the exam.</p>
            </div>
            <% } %>
            <% if(studentDetails.size!=0){ %>

            <table class="striped highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Score</th>
                        <th>Test Complete</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var keys of studentDetails.keys()){ %>
                    <tr>
                        <td>
                            <%= studentDetails.get(keys).username %>
                        </td>
                        <td>
                            <%= new Date(studentDetails.get(keys).testStartTime) %>
                        </td>
                        <td>
                            <%= new Date(studentDetails.get(keys).testEndTime) %>
                        </td>
                        <td>
                            <%= studentDetails.get(keys).score %>
                        </td>
                        <td>
                            <%= studentDetails.get(keys).submitted %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>



        </div>
    </div>
    <script>
        function downloadScores() {
            window.open('/downloadResult');
            console.log("Opening for download");
        }
    </script>

</body>

</html>