<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<html>

<head>
    <style>
        #link {
            color: white;
            font-weight: bold;
        }

        body {
            color: black;
        }
  

    </style>
    <title> QUIZ PAGE </title>
</head>

<body class="grey lighten-3">
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>
    <div class="container  input">

        <div class="col s12 section  input-field ">

            <div class="col s6 btn   grey darken-3 input-field left-align">
                <a href="/admin_question_input" id="link"> Editor </a>
                <i class="fas fa-edit"></i>
            </div>

            <button id="endTest" class="btn center input-field red darken-3 col s12 center" onclick="endTest()">
                End Test
            </button>


            <button id="downloadScores" class="btn center  input-field green darken-4 col s12 right" id="link" onclick="downloadScores()">
                Download Scores
                <i class="fas fa-file-download"></i>
            </button>


        </div>

        <div class="col s12 center">
            <h3> Details of students currently accessing test </h3>
        </div>

        <div class="col s12">
            <% if( studentDetails.size == 0 ) { %>
            <div class="col s12 center">
                <p>There are no students that completed the exam.</p>
            </div>
            <% } %>
            <% if(studentDetails.size!=0){ %>

            <table class="striped highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Score</th>
                        <th>Remarks</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var keys of studentDetails.keys()) { %>
                        <% if ( studentDetails.get(keys).testAttempted) { %>
                        <tr>
                            <td>
                                <%= studentDetails.get(keys).username %>
                            </td>
                            <td>
                                <%= new Date(studentDetails.get(keys).testStartTime) %>
                            </td>
                            <td>
                                <%= new Date(studentDetails.get(keys).testEndTime) %>
                            </td>
                            <td>
                                <%= studentDetails.get(keys).score %>
                            </td>
                            <td>
                                <%= studentDetails.get(keys).flag %>
                            </td>
                            <td>
                                <button onclick="restartAttempt(this.value)" value="<%=studentDetails.get(keys).username %>"
                                    class="btn red accent-2">
                                    Restart </button>
                            </td>
                        </tr>
                        <% } else  { %>
                            <tr>
                                <td> This is bull crap</td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <% } %>



        </div>

        <div class="row">
            <div class="col s12">
                <form action="/results" method="GET">
                    <div class="col center s12">
                        <h4>Results</h4>
                    </div>
                    <div class="col s2 offset-s5 input-field ">
                        <label for="result"></label>
                        <input id="result" type="text" name="id">
                    </div>
                    <div class="col s12 center input-field">
                        <input type="submit" class="btn light-blue darken-4 center" value="Results">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function downloadScores() {
            window.open('/downloadResult');
            console.log("Opening for download");
        }

        function restartAttempt(user_name) {
            window.open('/restartAttempt?id=' + user_name, "_self");
        }

        function endTest() {
            let consent = confirm("Do you really wish to end the test?");
            if (consent)
                window.open('/endTest');
        }
    </script>

</body>

</html>