<meta charset="UTF-8">
<html style="font-size:80%;">

<head>

    <style>
        html{
                scroll-behavior: smooth;
            }
            #c,#top{
                font-family: Arial, monospace;
                font-size: 16px;
            }
            #quizImg{
      max-width: 700;
      max-height: 500;
      margin: 5%;
    }
        
        </style>
    <title>
        Admin Page
    </title>

</head>

<body class="indigo lighten-3" text='black'>

    <%- include('partials/style.ejs') %>
    <%- include('partials/code_highlighter.ejs') %>
    <h1 class="center">Questions Editor</h1>
    <div class="container grey lighten-5">

        

        <div class="row">
                <a href="/admin_main" class=" col s12 btn left purple darken-3">back</a>

            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s1"><a href="#Edit" class="active">Edit</a></li>
                    <li class="tab col s2"><a  href="#mcq">Add MCQ</a></li>
                    <li class="tab col s2 "><a href="#fill">Add Fill</a></li>
                    <li class="tab col s2"><a href="#match">Add Match</a></li>
                    <li class="tab col s2"><a href="#coding">Add coding</a></li>
                    <li class="tab col s1"><a href="#delete">Delete</a></li>
                    <li class="tab col s2"><a href="#cfg">Edit CFG</a></li>
                </ul>
            </div>


            <div id="Edit" class="col s12">
                <div class="col s12">
                    <!-- Heading-->
                    <div class="col s10">
                        <h2>
                            Edit Current Questions.
                        </h2>
                    </div>

                    <!-- Guidelines for Editor-->
                    <div class="col s2">
                        <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#editModal"><i
                                class="fas fa-info-circle"></i></a>

                        <div id="editModal" class="modal modal-fixed-footer">
                            <div class="modal-content flow-text">
                                <h4>Guidelines</h4>
                                <ul>

                                    <li>These are the questions currently existing in Quiz. </li>
                                    <li>You can edit them and submit them to update. </li>
                                    <li>Note : MAKE SURE THE ID OF EACH QUESTION IS UNIQUE.</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <!-- Questions Editor form-->
                    <div class="col s12">

                        <form id='question_list' name='question_list' action='/updateQuestions' method='POST' enctype='application/json'>

                            <% for (var i=0 ; i<questions.length ; i++ ) { %>

                            <% if( questions[i].type == 'multi' ) { %>
                            <div class="col s12 section  card">
                                <%- include('partials/admin_partials/mcq.ejs',{q:questions[i]}) %>
                            </div>
                            <% } %>

                            <% if( questions[i].type == 'fill' ) { %>
                            <div class="col s12 section card ">
                                <%- include('partials/admin_partials/fill.ejs',{q:questions[i]}) %>
                            </div>
                            <% } %>

                            <% if( questions[i].type == 'match' ) { %>
                            <div class="col s12 section card">
                                <%- include('partials/admin_partials/match.ejs',{q:questions[i]}) %>
                            </div>
                            <% } %>

                            <% if( questions[i].type == 'coding' ) { %>
                            <div class="col s12 section card">
                                <%- include('partials/admin_partials/coding.ejs',{q:questions[i]}) %>
                            </div>
                            <% } %>
                            <div class="divider"></div>
                            <% } %>


                            <div class="col s12 center-align">
                                <button class="waves-effect waves-light btn-large light-green darken-3 input-field" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="mcq" class="col s12">
                <div class="col s12 ">


                    <!-- MCQ-->
                    <!-- Heading -->
                    <div class="col s10">
                        <h3>
                            Multiple choice question
                        </h3>
                    </div>
                    <!-- mcq Guidelines-->
                    <div class="col s2">
                        <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#mcqModal"><i
                                class="fas fa-info-circle"></i></a>
                        <div id="mcqModal" class="modal modal-fixed-footer">
                            <div class="modal-content flow-text">
                                <h4>Guidelines</h4>
                                <ul>
                                    <li>A question with 4 option and 1 right answer.</li>
                                    <li>Enter the text of correct answer, not the option like a,b,c,d.</li>
                                    <li>Enable code if you want to add a program to the question</li>

                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <!-- mcq Form -->


                    <form action="/admin_question_input" method="POST" id="question-form" enctype="multipart/form-data">
                        <input type="text" value="multi" name="type" hidden>

                        <div class="input-field col s12">
                            <p>Question</p>
                            <input type="text" name="question">
                        </div>

                        <div class="col s12 input-field">
                            <div class="file-field input-field">
                                <div class="btn blue">
                                  <span>Add image</span>
                                  <input type="file" accept="image/*" name="img">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                        </div>

                        <div class="input-field col s12">
                            <p>Option 1</p>
                            <input type="text" name="options">

                        </div>

                        <div class="input-field col s12">
                            <p>Option 2</p>
                            <input type="text" name="options">
                        </div>


                        <div class="input-field col s12">
                            <p>Option 3</p>
                            <input type="text" name="options">
                        </div>


                        <div class="input-field col s12">
                            <p>Option 4</p>
                            <input type="text" name="options">
                        </div>


                        <div class="input-field col s12">

                            <p>Answer</p>
                            <input type="text" name="answer">

                        </div>
                        <div id="code_id1" class="input-field col s12" hidden>
                            <p for="codeArea">Code</p>
                            <textarea id="codeArea" name="code" class="materialize-textarea"></textarea>
                        </div>
                        <div class="input-field col s10 ">

                            <button class="waves-effect waves-light btn-large green darken-2" onclick="M.toast({html: 'Question added'})"
                                type="submit">Submit</button>

                        </div>
                        <div class="col s2">
                            <label>

                                <input type="checkbox" onclick="toggleByVal(this.value)" value="1" />
                                <span>Code</span>
                            </label>
                        </div>
                    </form>

                </div>
            </div>

            <div id="fill" class="col s12">
                <div class="col s12 ">





                    <!-- Heading-->
                    <div class="col s10">
                        <h3>
                            Fill in the blank question
                        </h3>
                    </div>

                    <!-- Fill Guide-->
                    <div class="col s2">
                        <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#fillModal"><i
                                class="fas fa-info-circle"></i></a>
                        <div id="fillModal" class="modal modal-fixed-footer">
                            <div class="modal-content flow-text">
                                <h4>Guidelines</h4>
                                <ul>
                                    <li>A question and one answer entered in text</li>
                                    <li>Enable code if you want to add a program to the question</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <!--Fill Form -->
                    <form action="/admin_question_input" method="POST" id="question-form" enctype="multipart/form-data">
                        <input type="text" value="fill" name="type" hidden>

                        <div class="input-field col s12">
                            <p>Question</p>
                            <input type="text" name="question">
                        </div>

                        <div class="col s12 input-field">
                            <div class="file-field input-field">
                                <div class="btn blue">
                                  <span>Add image</span>
                                  <input type="file" accept="image/*" name="img">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                        </div>
                        <div class="input-field col s12">

                            <p>answer</p>
                            <input type="text" name="answer">
                        </div>
                        <div id="code_id2" class="input-field col s12" hidden>
                            <p for="codeArea">Code</p>
                            <textarea id="codeArea" name="code" class="materialize-textarea"></textarea>
                        </div>
                        <div class="input-field  col s10">
                            <button class="waves-effect waves-light btn-large green darken-2" type="submit" onclick="M.toast({html: 'Question added'})">Submit</button>
                        </div>
                        <div class=" input-field col s2">
                            <label>
                                <input type="checkbox" onclick="toggleByVal(this.value)" value="2" />
                                <span>Code</span>
                            </label>
                        </div>

                    </form>
                </div>
            </div>

            <div id="match" class="col s12">
                <div class="col s12 ">




                    <!-- Heading-->
                    <div class="col s10">
                        <h3>
                            Matching question
                        </h3>
                    </div>

                    <!-- Match Guide -->

                    <div class="col s2">
                        <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#matchModal"><i
                                class="fas fa-info-circle"></i></a>
                        <div id="matchModal" class="modal modal-fixed-footer">
                            <div class="modal-content flow-text">
                                <h4>Guidelines</h4>
                                <ul>
                                    <li>Match the following question.</li>
                                    <li>Enter left and right coloumn of question. </li>
                                    <li>The answer must be in this format '1,2,3,4' without quotes.</li>
                                    <li>Enable code if you want to add a program to the question</li>

                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <!--Match Form -->

                    <form action="/admin_question_input" method="POST" id="question-form" enctype="multipart/form-data">
                        <input type="text" value="match" name="type" hidden>


                        <div class="input-field col s12">
                            <p>Question</p>
                            <input type="text" name="question">
                        </div>

                        <div class="col s12 input-field">
                            <div class="file-field input-field">
                                <div class="btn blue">
                                  <span>Add image</span>
                                  <input type="file" accept="image/*" name="img">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                        </div>

                        <div class="input-field col s12">
                            <p>Left 1</p>
                            <input type="text" name="left">
                        </div>



                        <div class="input-field col s12">

                            <p>Left 2</p>
                            <input type="text" name="left">
                        </div>


                        <div class="input-field col s12">
                            <p>Left 3</p>
                            <input type="text" name="left">
                        </div>


                        <div class="input-field col s12">
                            <p>Left 4</p>
                            <input type="text" name="left">
                        </div>



                        <div class="input-field col s12">
                            <p>Right 1</p>
                            <input type="text" name="right">
                        </div>


                        <div class="input-field col s12">
                            <p>Right 2</p>
                            <input type="text" name="right">
                        </div>


                        <div class="input-field col s12">
                            <p>Right 3</p>
                            <input type="text" name="right">
                        </div>


                        <div class="input-field col s12">
                            <p>Right 4</p>
                            <input type="text" name="right">
                        </div>

                        <div id="code_id3" class="input-field col s12" hidden>
                            <p for="codeArea">Code</p>
                            <textarea id="codeArea" name="code" class="materialize-textarea"></textarea>
                        </div>

                        <div class="input-field col s12">
                            <p>Answer</p>
                            <input type="text" name="answer" placeholder="Ex : 2,1,0,4">
                        </div>

                        <div class="col s10 input-field">
                            <button class="waves-effect waves-light btn-large green darken-2" type="submit" onclick="M.toast({html: 'Question added'})">Submit</button>
                        </div>

                        <div class="col s2 input-field">
                            <label>
                                <input type="checkbox" onclick="toggleByVal(this.value)" value="3" />
                                <span>Code</span>
                            </label>
                        </div>


                    </form>

                </div>
            </div>

            <div id="coding" class="col s12">
                <div class="col s12">



                    <!--Heading -->

                    <div class="col s10">
                        <h3>
                            Coding question
                        </h3>
                    </div>

                    <!--Coding Guide -->

                    <div class="col s2">
                        <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#codingModal"><i
                                class="fas fa-info-circle"></i></a>
                        <div id="codingModal" class="modal modal-fixed-footer">
                            <div class="modal-content flow-text">
                                <h4>Guidelines</h4>
                                <ul>
                                    <li>Enter question and language.</li>
                                    <li>Test input and output are for understanding purpose only and not executed</li>
                                    <li>Input,Answer are the test cases that are executed and you can add more by
                                        clicking the button </li>
                                    <li>Note : Don't have test cases with no input, it is good to have an input
                                        parameter to maintain consistency. Otherwise the student must be informed that
                                        all answer must be printed in one program. </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>


                    <!-- Coding form-->

                    <form action="/admin_question_input" method="POST" id="question-form" enctype="multipart/form-data">
                        <input type="text" value="coding" name="type" hidden>


                        <div class="input-field col s12">
                            <p>Question</p>
                            <input type="text" name="question">
                        </div>

                        <div class="col s12 input-field">
                            <div class="file-field input-field">
                                <div class="btn blue">
                                  <span>Add image</span>
                                  <input type="file" accept="image/*" name="img">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                        </div>

                        <div class="input-field col s12">
                            <select name="lang">

                                <option value="cpp">C++</option>
                                <option value="java">Java</option>
                                <option value="python">Python</option>
                            </select>
                            <p>Choose the language</p>
                        </div>

                        <!--Sample IO -->

                        <div class="col s12">
                            <div class=" input-field  col s6">
                                <p>Test Input</p>

                                <textarea type="text" class="materialize-textarea" name="test_input"></textarea>
                            </div>
                            <div class=" input-field  col s6">
                                <p>Test Output</p>

                                <textarea type="text" name="test_output" class="materialize-textarea"></textarea>
                            </div>
                        </div>

                        <!--Test cases -->

                        <div id="new_root" class="input-field col s12">
                            <div>
                                <div class="col s6  input-field ">
                                    <p for="ci_id">Input</p>
                                    <textarea type="text" id="ci_id" name="input[]" class="materialize-textarea"></textarea>
                                </div>
                                <div class="col s6  input-field ">
                                    <p for="ca_id">Answer</p>
                                    <textarea type="text" id="ca_id" name="answer[]" class="materialize-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col s10 input-field">
                            <button class="waves-effect waves-light btn-large green darken-2" type="submit" onclick="M.toast({html: 'Question added'})">Submit</button>
                        </div>
                    </form>

                    <!-- Button to add test cases -->
                    <div class="col s2 input-field">
                        <input type="button" value="Add Test case" class="waves-light btn-large indigo accent-2" onclick="addNewIO()">
                    </div>

                </div>
            </div>
            
            <div id="cfg" class="col s12">
                <div class="col s12">


                    <form action="/cfg" method="POST">
                        <div class="col s10">
                            <h3>
                                Config
                            </h3>
                        </div>

                        <!-- cfg Guide -->

                        <div class="col s2">
                            <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#cfgModal"><i
                                    class="fas fa-info-circle"></i></a>
                            <div id="cfgModal" class="modal modal-fixed-footer">
                                <div class="modal-content flow-text">
                                    <h4>Guidelines</h4>
                                    <ul>
                                        <li>This is the config file editor.</li>
                                        <li>After getting the data, you can edit the file in json.</li>
                                        <li>The main attributes to edit are admin and username for authentication.</li>
                                        <li>Save before you exit to update the file.</li>
                                    </ul>
                                  
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12" id="c">

                            <div class="input-field col s12">
                                <textarea name="cfg" id="codemirror_cfg"></textarea>
                            </div>

                            <div class="col s2 input-field">

                                <input type="button" value="get CFG" class="waves-light btn-large grey darken-3" onclick="getCFG()">
                            </div>

                            <div class="col s2 input-field">

                                <input type="submit" value="update_CFG" class="waves-light btn-large grey darken-3">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="delete" class="col s12">
                <div class="col s12 section">
                    <div class="col s10">
                        <h2>
                            Delete Question.
                        </h2>
                    </div>
                    <div class="col s2">
                        <a class="modal-trigger cyan accent-4 waves-effect waves-light btn right" href="#delModal"><i
                                class="fas fa-info-circle"></i></a>

                        <div id="delModal" class="modal modal-fixed-footer">
                            <div class="modal-content flow-text">
                                <h4>Guidelines</h4>
                                <ul>
                                    <li>This section is to delete an existing question</li>
                                    <li>Enter the ID of the question to delete it</li>
                                    <li>Check questions below to see the IDs</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>
                    <form action="/deleteQuestion" method="POST">
                        <div class=" input-field col s12">
                            <p>Question ID</p>
                            <input type="text" name="id" class="input-field" placeholder="Get ID editor">
                        </div>
                        <div class="col s12 input-field">
                            <button class="waves-effect left waves-light btn-large red lighten-1" type="submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>






        <script>
            //Editor for CFG editing
            var codemirror = document.querySelector('#codemirror_cfg');

            var editor = CodeMirror.fromTextArea(codemirror, {
                lineNumbers: true,
                mode: 'javascript',
                smartIndent: true,
                theme: "monokai"

            });
            M.AutoInit();

            //Adds a new testcase for coding type question
            function addNewIO() {
                const main = document.querySelector("#new_root");
                const innerDiv = document.createElement('div');
                innerDiv.innerHTML =
                    `<div class="col s6  input-field ">
                                    <p for="ci_id">Input</p>
                                    <textarea type="text" id="ci_id" name="input" class="materialize-textarea"></textarea>
                                </div>
                                <div class="col s6  input-field ">
                                    <p for="ca_id">Answer</p>
                                    <textarea type="text" id="ca_id" name="answer" class="materialize-textarea"></textarea>
                                </div>`;
                main.appendChild(innerDiv);
            }


            //Gets cfg from server and fills the textarea
            function getCFG() {
                console.log('getcfg');

                $.get('/cfg', function (res) {
                    var pretty = JSON.stringify(res, undefined, 4);
                    editor.setValue(pretty);
                });
            }

            //Toggles the Code field in add question section
            function toggleByVal(value) {
                var id = 'code_id' + value;
                var x = document.getElementById(id);
                if (x.hidden === true) {
                    x.hidden = false;
                } else {
                    x.hidden = true;
                }
            }

            //Toggles the Code field in edit question section
            function toggle(value) {
                console.log(value.parentNode.parentNode.childNodes);
                var x = value.parentNode.parentNode.parentNode.childNodes[1];
                if (x.hidden === true) {
                    x.hidden = false;
                } else {
                    x.hidden = true;
                }
            }
        </script>

</body>

</html>