<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
    <title> QUIZ PAGE </title>
</head>

<body>
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>
    <%- include('partials/code_highlighter.ejs') %>
    <div class="container">

        <div class="row">
            <div class="col s12 ">
                <fieldset class="card-panel">
                    <p id='timer' class="flow-text center"> </p>
                </fieldset>
            </div>
            <div class="divider"></div>

            <div class="col s12">

                <form name='question_list' action='quiz' method='POST'>
                    <% for (var i=0 ; i<questions.length ; i++ ) { %>
                    <div class="divider"></div>

                    <p class="flow-text col s1">
                        <%= i +")"%>
                    </p>

                    <% if( questions[i].type == 'multi' ) { %>
                    <div class="col s11">
                        <%- include('partials/mcq.ejs',{q:questions[i]}) %>
                    </div>
                    <% } %>

                    <% if( questions[i].type == 'fill' ) { %>
                    <div class="col s11">
                        <%- include('partials/fill.ejs',{q:questions[i]}) %>
                    </div>
                    <% } %>

                    <% if( questions[i].type == 'match' ) { %>
                    <div class="col s11">
                        <%- include('partials/match.ejs',{q:questions[i]}) %>
                    </div>
                    <% } %>

                    <% if( questions[i].type == 'coding' ) { %>
                    <div class="col s11">
                        <%- include('partials/coding.ejs',{q:questions[i]}) %>
                    </div>
                    <% } %>

                    <% } %>
                    <div class="divider"></div>
                    <div class="col s11 offset-s1">
                        <button class="waves-effect waves-light btn-large" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/Cookies.js" type="text/javascript"></script>
    <script>
        var endTime = <%= endTime %>;
        var countDown = setInterval(() => {
            let distance = endTime - (new Date().getTime());
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)),
                seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("timer").innerHTML = "TIME : " + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text 
            if (distance < 0) {
                clearInterval(countDown);
                document.getElementById("timer").innerHTML = "EXPIRED";
                alert('Time up');
                document.forms["question_list"].submit();
            }
        }, 1000);
    </script>

</body>