<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<html>

<head>
    <title> QUIZ PAGE </title>
    <style>
        .sticky{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 50px;

        }
    </style>
   
</head>

<body class="white">
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>
    <%- include('partials/code_highlighter.ejs') %>
    <div class="row sticky">

        <div class="col left s2">
            <p class="left flow-text">
                Logged in as : <br>
                <%=username%> <br>
                <%=name%>
            </p>
        </div>
        <div class="col s2 right">
            <p id='timer' class="flow-text right "> </p>
        </div>
    </div>
    <div class="container ">

        <div class="row">
            <!-- <div class="col s12 sticky" >
                <p id='timer' class="flow-text left "> </p>
                <p class="flow-text right ">
                    Logged in as :
                    <%=username%>
                </p>
            </div> -->
            <div class="col s12">

                <form id='question_list' name='question_list' action='quiz' method='POST'>
                    <div class="col s12">
                        <% for (var i=0 ; i<questions.length ; i++ ) { %>


                        <p class="flow-text col s1">
                            <%= i+1 +")"%>
                        </p>

                        <% if( questions[i].type == 'multi' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/mcq.ejs',{q:questions[i]}) %>
                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'fill' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">

                                <%- include('partials/fill.ejs',{q:questions[i]}) %>

                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'match' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/match.ejs',{q:questions[i]}) %>
                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'coding' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/coding.ejs',{q:questions[i],username:username}) %>
                            </div>
                        </div>
                        <% } %>

                        <% } %>
                    </div>
                    <input type="text" value="normal" name="flag" id="flag" style="visibility:hidden;"> </input>
                    <div class="divider"></div>
                    <div class="col s12 center-align section">
                        <button class="waves-effect center-align waves-light btn-large light-green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
  
        var endTime = <%= endTime %>;
        console.log(typeof endTime);
        console.log(endTime);
        console.log(new Date(endTime));
        endTime = endTime * 60 * 1000;
        let distance = endTime;
        var countDown = setInterval(() => {
            if (distance < 0) {
                clearInterval(countDown);
                document.getElementById("timer").innerHTML = "EXPIRED";
                alert('Time up');
                document.getElementById('flag').value = 'time_out';
                document.forms["question_list"].submit();
            }
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)),
                seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("timer").innerHTML = "TIME : " + minutes + "m " + seconds + "s ";

            distance = distance - 1000;
        }, 1000);
        // window.onblur = () => {
        //     document.getElementById('flag').value = 'cheat';
        //     document.getElementById('question_list').submit();
        // }
        // SUBMIT ON RELOAD , NOT WORKING CURRENTLY
        window.onbeforeunload = () => {
            alert('Submitting data due to page reload');
            document.getElementById('question_list').submit();
        }

  
    </script>

</body>

</html>