<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<html>

<head>
    <title> QUIZ PAGE </title>
    <style>
        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 50px;

        }
    </style>

</head>

<body class="white">
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>
    <%- include('partials/code_highlighter.ejs') %>

    <div class="blue-grey darken-2">
        <div class="row">
            <p class="col flow-text white-text l4 m3 s6 center">
                Subject :
                <%= subject %>
            </p>
            <p class="col flow-text white-text l4 m3 s0 center">
                <span id='date_tag'></span>
            </p>
            <p class="col flow-text white-text l4 m3 s6 center">
                Section :
                <%= section %>
            </p>
        </div>
    </div>

    <div class="blue-grey darken-4">
        <div>
            <p class="flow-text white-text">
                <%=username%> -
                <%=name%>
            </p>
        </div>
    </div>
    <div class="right sticky">
        <p id='timer' class="flow-text right blue-grey lighten-4"> </p>
    </div>

    <div class="container ">

        <div class="row">
            <!-- <div class="col s12 sticky" >
                <p id='timer' class="flow-text left "> </p>
                <p class="flow-text right ">
                    Logged in as :
                    <%=username%>
                </p>
            </div> -->
            <div class="col s12">

                <form id='question_list' name='question_list' action='quiz' method='POST'>
                    <div class="col s12">
                        <% for (var i=0 ; i<questions.length ; i++ ) { %>


                        <p class="flow-text col s1">
                            <%= i+1 +"."%>
                        </p>

                        <% if( questions[i].type == 'multi' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/mcq.ejs',{q:questions[i]}) %>
                                <!-- <span> Maids table how learn drift but purse stand yet set. Music me house could among
                                    oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour
                                    to. He we be hastily offence effects he service. Sympathize it projection ye
                                    insipidity celebrated my pianoforte indulgence. Point his truth put style. Elegance
                                    exercise as laughing proposal mistaken if. We up precaution an it solicitude
                                    acceptance invitation.

                                    Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now
                                    busy say down the shed eyes roof paid her. Of shameless collected suspicion
                                    existence in. Share walls stuff think but the arise guest. Course suffer to do he
                                    sussex it window advice. Yet matter enable misery end extent common men should. Her
                                    indulgence but assistance favourable cultivated everything collecting.

                                    It as announcing it me stimulated frequently continuing. Least their she you now
                                    above going stand forth. He pretty future afraid should genius spirit on. Set
                                    property addition building put likewise get. Of will at sell well at as. Too want
                                    but tall nay like old. Removing yourself be in answered he. Consider occasion get
                                    improved him she eat. Letter by lively oh denote an.

                                    Out too the been like hard off. Improve enquire welcome own beloved matters her. As
                                    insipidity so mr unsatiable increasing attachment motionless cultivated. Addition mr
                                    husbands unpacked occasion he oh. Is unsatiable if projecting boisterous insensible.
                                    It recommend be resolving pretended middleton.

                                    Had repulsive dashwoods suspicion sincerity but advantage now him. Remark easily
                                    garret nor nay. Civil those mrs enjoy shy fat merry. You greatest jointure saw
                                    horrible. He private he on be imagine suppose. Fertile beloved evident through no
                                    service elderly is. Blind there if every no so at. Own neglected you preferred way
                                    sincerity delivered his attempted. To of message cottage windows do besides against
                                    uncivil.

                                    View fine me gone this name an rank. Compact greater and demands mrs the parlors.
                                    Park be fine easy am size away. Him and fine bred knew. At of hardly sister favour.
                                    As society explain country raising weather of. Sentiments nor everything off out
                                    uncommonly partiality bed.

                                    New the her nor case that lady paid read. Invitation friendship travelling eat
                                    everything the out two. Shy you who scarcely expenses debating hastened resolved.
                                    Always polite moment on is warmth spirit it to hearts. Downs those still witty an
                                    balls so chief so. Moment an little remain no up lively no. Way brought may off our
                                    regular country towards adapted cheered.

                                    Attachment apartments in delightful by motionless it no. And now she burst sir learn
                                    total. Hearing hearted shewing own ask. Solicitude uncommonly use her motionless not
                                    collecting age. The properly servants required mistaken outlived bed and. Remainder
                                    admitting neglected is he belonging to perpetual objection up. Has widen too you
                                    decay begin which asked equal any.

                                    Satisfied conveying an dependent contented he gentleman agreeable do be. Warrant
                                    private blushes removed an in equally totally if. Delivered dejection necessary
                                    objection do mr prevailed. Mr feeling do chiefly cordial in do. Water timed folly
                                    right aware if oh truth. Imprudence attachment him his for sympathize. Large above
                                    be to means. Dashwood do provided stronger is. But discretion frequently sir the she
                                    instrument unaffected admiration everything.

                                    Breakfast agreeable incommode departure it an. By ignorant at on wondered relation.
                                    Enough at tastes really so cousin am of. Extensive therefore supported by extremity
                                    of contented. Is pursuit compact demesne invited elderly be. View him she roof tell
                                    her case has sigh. Moreover is possible he admitted sociable concerns. By in cold no
                                    less been sent hard hill.

                                </span> -->
                            </div>
                        </div>

                        <% } %>

                        <% if( questions[i].type == 'fill' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">

                                <%- include('partials/fill.ejs',{q:questions[i]}) %>

                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'match' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/match.ejs',{q:questions[i]}) %>
                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'coding' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/coding.ejs',{q:questions[i],username:username}) %>
                            </div>
                        </div>
                        <% } %>

                        <% } %>
                    </div>
                    <input type="text" value="normal" name="flag" id="flag" style="visibility:hidden;"> </input>

                    <div class="col s12 center-align section">
                        <button class="center-align btn-large green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var endTime = <%= endTime %>;
        console.log(typeof endTime);
        console.log(endTime);
        console.log(new Date(endTime));

        const minute = 60 * 1000,
            second = 1000;

        document.getElementById('date_tag').innerHTML = new Date();

        endTime = endTime * 60 * 1000;
        let distance = endTime;
        var countDown = setInterval(() => {
            if (distance < 0) {
                clearInterval(countDown);
                document.getElementById("timer").innerHTML = "EXPIRED";
                alert('Time up');
                document.getElementById('flag').value = 'time_out';
                document.forms["question_list"].submit();
            }

            let minutes = Math.floor(distance / minute),
                seconds = Math.floor(distance % minute / second);
            document.getElementById("timer").innerHTML = "Time : " + minutes + "m " + seconds + "s ";

            distance = distance - 1000;
        }, 1000);
        window.onblur = () => {
            document.getElementById('flag').value = 'cheat';
            document.getElementById('question_list').submit();
        }

        // SUBMIT ON RELOAD , NOT WORKING CURRENTLY
        window.onbeforeunload = () => {
            alert('Submitting data due to page reload');
            document.getElementById('question_list').submit();
        }
    </script>

</body>

</html>