<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<html>

<head>
    <title> QUIZ PAGE </title>
    <style>
       
    </style>
</head>

<body class="white">
    <%- include('partials/style.ejs') %>
    <%- include('partials/header.ejs') %>
    <%- include('partials/code_highlighter.ejs') %>
    <div class="row">

    </div>
    <div class="container ">

        <div class="row">
          
            <div class="col s12">
                <h3 class="center">
                    Results for ID : <%=id%> 
                </h3>
            </div>
            <div class="col s12">

                
                    <div class="col s12">
                        <% for (var i=0 ; i<questions.length ; i++ ) { %>


                        <p class="flow-text col s1">
                            <%= i+1 +")"%>
                        </p>

                        <% if( questions[i].type == 'multi' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/mcq.ejs',{q:questions[i]}) %>
                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'fill' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">

                                <%- include('partials/fill.ejs',{q:questions[i]}) %>

                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'match' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <%- include('partials/match.ejs',{q:questions[i]}) %>
                            </div>
                        </div>
                        <% } %>

                        <% if( questions[i].type == 'coding' ) { %>
                        <div class="col s11 card">
                            <div class="col s12 card-content">
                                <p class ="flow-text">Coding question</p>
                            </div>
                        </div>
                        <% } %>

                        <% } %>
                    </div>
                    <input type="text" value="normal" name="flag" id="flag" style="visibility:hidden;"> </input>
                    
               
            </div>
        </div>
    </div>
    
</body>

</html>