<meta charset="UTF-8" />
<html>

<head>
    <%- include('partials/disable_back.ejs') %>
</head>

<body class="blue-grey lighten-5">
    <%- include('partials/style.ejs') %> <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <ul>
                <% for (let i=0 ; i<rules.length ; i++ ) { %>
                <li class="flow-text"> <%= rules[i] %> </li>
                <% } %>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        let time = <%= rule_time %>;
        setInterval(() => {
            window.open('/quiz', "_self");
        }, time * 60 * 1000);
    </script>
</body>

</html>