<meta charset="UTF-8" />
<html>

<head>
    <%- include('partials/disable_back.ejs') %>
   
</head>

<body class="yellow lighten-4">
    <div class="row">
    <%- include('partials/style.ejs') %> 
    
    <%- include('partials/header.ejs') %>
    <div class="container">
        <h2 class="center col s12"> Rules & Guidelines </h2>
            <ul>
                <% for (let i=0 ; i<rules.length ; i++ ) { %>
                <li class=" col s12 flow-text center"> <%= rules[i] %> </li>
                <% } %>
            </ul>
        </div>
    </div>

    <style>
        ul:not(.browser-default)>li {
            list-style-type: disc !important
        }
    </style>

    <script type="text/javascript">
        let time = <%= rule_time %>;
        setInterval(() => {
            window.open('/quiz', "_self");
        }, time * 60 * 1000);
    </script>
</body>

</html>