<input type="text" value="multi" name="questions[<%= q.id %>][type]" hidden>

<div class="input-field col s2">
    <p >ID</p>
    <input type="text" name="questions[<%= q.id %>][id]"  value="<%= q.id %>">
</div>

<div class="input-field col s10">
    <p >Question</p>
    <input type="text" name="questions[<%= q.id %>][question]"  value="<%= q.question %>">
</div>

<div class="col s12">
    <label>Image : </label>
    <img src="images/<%=q.img %>" alt="No image found" id="quizImg">
</div>

<div class="input-field col s12">
    <input type="text" name="questions[<%= q.id %>][options]" value="<%= q.options[0] %>">
    <p>option1</p>

</div>

<div class="input-field col s12">
    <input type="text"  name="questions[<%= q.id %>][options]" value="<%= q.options[1] %>">
    <p>option2</p>
</div>


<div class="input-field col s12">
    <input  type="text" name="questions[<%= q.id %>][options]" value="<%= q.options[2] %>">
    <p >option3</p>
</div>


<div class="input-field col s12">
    <input  type="text" name="questions[<%= q.id %>][options]" value="<%= q.options[3] %>">
    <p >option4</p>
</div>


<div class="input-field col s12">

    <p >answer</p>
    <input type="text"  name="questions[<%= q.id %>][answer]" value="<%=q.answer%>">

</div>

<div id="" class="input-field col s12 ">

    <div class="col s12 ">
        <p >Code</p>
        <textarea name="questions[<%= q.id %>][code]" class="materialize-textarea"><%= q.code %></textarea>
    </div>

    <div class="col s12">
        <label>
            <input type="checkbox" onclick="toggle(this)" checked />
            <span>Code</span>
        </label>
    </div>
</div>